@page
@model PrivacyModel
@{ ViewData["Title"] = "Privacy Policy"; }
<h1>@ViewData["Title"]</h1>

<!--Utilice esta página para detallar la política de privacidad de su sitio web-->
<p>esta páginaesta página está en construcción desde @ViewData["TimeStamp"] .</p>
